{% extends 'layout.html' %}
{% load static %}

{% block content %}

    <header class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-xl-4 p-4">
                <img class="img-fluid" src="{% static 'profile/profile.png' %}" alt="Profile NK11">
            </div>
            
            <div class="col-sm-12 col-md-8 col-xl-8 my-auto">
                <h2>I'm <strong>NK11</strong></h2>
                <h3>I'm a Django developer</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus et cum impedit voluptate commodi. Amet iste nemo quaerat! Perspiciatis repudiandae ea nostrum quae et error minus ipsum culpa quod voluptas?
                    Deserunt officia itaque vero! Pariatur voluptatum aperiam molestias error iusto quasi corrupti, eos expedita, delectus illo iure id? Magnam reprehenderit repudiandae pariatur, perferendis totam illo nesciunt magni. Earum, officia voluptatibus.
                    Voluptatum repudiandae consectetur quod illum at itaque accusantium ad, atque alias, nemo aliquid! Harum autem totam dignissimos nam enim cumque amet eum placeat nesciunt? Libero ullam inventore delectus commodi sapiente.
                </p>
                <a class="btn btn-dark" href="mailto:">Mail me</a>  
            </div>
        </div>
    </header>

    <section class="row d-flex d-flex justify-content-evenly">
        {% for project in projects %}
            <div class="card col-sm-12 col-md-3 col-xl-3 m-3 card-project">
                <img src="{{ project.image.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="card-text">
                        <h2 class="text-center">{{ project.title }}</h2>
                        <p class="text-center">{{ project.description }}</p>
                        {% if project.url %}
                        <div class="text-center">
                            <a class="btn btn-dark" target="_blank" href="{{ project.url }}">Link</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>

{% endblock %}