<div class="group relative block w-full">
  <span
    class="absolute inset-0 border-2 border-dashed border-orange-500 rounded border-opacity-80"
    aria-hidden="true"
  ></span>

  <div
    class="relative flex flex-col border-2 border-gray-500 bg-gray-300 dark:bg-gray-900 rounded transition-transform duration-200 ease-in-out group-hover:-translate-x-2 group-hover:-translate-y-2"
  >
    <slot />
  </div>
</div>
