---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a"> & {
  label: string;
  isUnderline?: boolean;
};

const { label, isUnderline, target, ...props } = Astro.props;
const relValue = target === "_blank" ? "noopener noreferrer" : undefined;
---

<a
  href={props.href || "#"}
  class={`text-sm hover:text-orange-500 cursor-pointer 
    ${isUnderline ? "underline decoration-dashed underline-offset-8" : ""}`}
  aria-label={label}
  target={target}
  rel={relValue}
  {...props}
>
  {label}
</a>
