<header>
    <nav class="nav-container container">
        <a href="#" class="nav-logo">
            <svg viewBox="0 0 24 24">
                <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z" />
            </svg>
        </a>
        <ul class="nav-menu">
            <li>
                <a href="#hero" class="nav-link">Sobre mi</a>
            </li>
            <li>
                <a href="#stack" class="nav-link">Habilidades</a>
            </li>
            <li>
                <a href="#proyectos" class="nav-link">Proyectos</a>
            </li>
            <li>
                <a href="#" class="nav-link">Blog</a>
            </li>
            <li>
                <a href="#contacto" class="nav-link">Contacto</a>
            </li>
        </ul>
        <div class="nav-actions">
            <button class="locale-switch">EN | ES</button>
            <button class="theme-switch">
                <svg width="18"
                     height="18"
                     viewBox="0 0 24 24"
                     fill="none"
                     stroke="currentColor"
                     stroke-width="2">
                    <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
                </svg>
            </button>
            <a href="#contacto" class="btn btn-contact btn-filled">Contáctame</a>
        </div>
    </nav>
</header>
