---
import Header from "@/components/Header.astro";
import SEOTags from "@/components/seo/SEOTags.astro";
// import { fade } from "astro:transitions";
import "@fontsource/open-sans";
import "@/styles/tailwind.css";
import "@/styles/blog.css";
import Footer from "@/components/Footer.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <SEOTags title={title} />
  <body
    class="mx-auto flex flex-col min-h-screen max-w-screen-lg bg-transparent px-6 py-6 gap-6 text-sm text-neutral-900 dark:text-neutral-200 md:px-10 md:py-12 md:gap-12"
  >
    <Header />
    
    <!-- Contenido Principal -->
    <main transition:animate="fade" class="flex-grow">
      <slot />
    </main>
    
    <Footer />

    <!-- Estilos Globales -->
    <style is:global>
      html {
        font-family: "Open Sans", sans-serif;
      }
    </style>
  </body>
</html>
