{% load static i18n %}

<section id="sobre-mi">
    <div class="container">
        <h2 class="section-title">{% trans "Sobre Mí" %}</h2>
        <p class="section-subtitle">{% trans "Un poco más sobre mi viaje y mis pasiones." %}</p>
        <div class="about-content">
            <div class="about-illustration">
                <img src="{% static 'images/profile.jpg' %}" alt="Ilustración Sobre Mí" />
            </div>
            <div class="about-text">
                <p>
                    {% trans "¡Hola! Soy un desarrollador de software enfocado en construir aplicaciones web dinámicas y fáciles de usar. Mi viaje en la codificación comenzó con un simple '¡Hola, Mundo!' y desde entonces ha crecido hasta convertirse en una pasión total por resolver problemas complejos con código limpio y eficiente." %}
                </p>
                <p>
                    {% trans "Creo que el aprendizaje continuo y un equilibrio saludable entre el trabajo y la vida personal son claves para mantenerme creativo y motivado." %}
                </p>
            </div>
        </div>
    </div>
</section>
