<section id="proyectos">
    <div class="container">
        <h2 class="section-title">Proyectos Destacados</h2>
        <p class="section-subtitle">
            Una selección de proyectos que demuestran mi experiencia y habilidades en desarrollo web. Cada proyecto refleja mi compromiso con la calidad y la innovación, y muestra cómo puedo aportar valor a tus necesidades específicas.
        </p>
        <p class="section-subtitle">
            Desde aplicaciones web interactivas hasta soluciones personalizadas, estos proyectos destacan mi capacidad para crear experiencias digitales impactantes y funcionales. Explora cada uno para ver cómo puedo ayudarte a alcanzar tus objetivos digitales.
        </p>
        <div class="project-grid">
            {% for project in projects %}
                <div class="project-card">
                    <div class="project-img-container">
                        {% if project.image %}<img src="{{ project.image.url }}" alt="{{ project.title }}" />{% endif %}
                    </div>
                    <div class="project-body">
                        <h3 class="project-title">{{ project.title }}</h3>
                        <p class="project-desc">{{ project.description }}</p>
                        <div class="tag-list">
                            {% for tag in project.get_tags_list %}<span class="tag">{{ tag }}</span>{% endfor %}
                        </div>
                        <div class="card-links">
                            {% if project.demo_url %}
                                <a href="{{ project.demo_url }}" class="card-link">
                                    <svg viewBox="0 0 24 24">
                                        <path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                        <path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                    </svg>
                                Demo en Vivo</a>
                            {% endif %}
                            {% if project.code_url %}
                                <a href="{{ project.code_url }}" class="card-link">
                                    <svg viewBox="0 0 24 24">
                                        <path d="M16 18l6-6-6-6M8 6l-6 6 6 6" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                    </svg>
                                Código Fuente</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
