<section id="stack">
    <div class="container">
        <h2 class="section-title">Mi Stack Tecnológico</h2>
        <p class="section-subtitle">Tecnologías con las que me encanta trabajar.</p>
        <div class="stack-grid">
            <div class="tech-item">
                <div class="tech-icon">
                    <svg viewBox="0 0 24 24">
                        <path d="M12.72 0H11.28C5.05 0 0 5.05 0 11.28v1.44C0 18.95 5.05 24 11.28 24h1.44C18.95 24 24 18.95 24 12.72V11.28C24 5.05 18.95 0 12.72 0Zm-1.44 2.88a1.44 1.44 0 0 1 1.44 1.44v1.44a1.44 1.44 0 0 1-1.44 1.44 1.44 1.44 0 0 1-1.44-1.44V4.32a1.44 1.44 0 0 1 1.44-1.44Z" fill="#3776AB" />
                    </svg>
                </div>
                <div class="tech-name">Python</div>
            </div>
            <div class="tech-item">
                <div class="tech-icon">
                    <svg viewBox="0 0 24 24">
                        <path d="M24 0v24H0V0h24zM3 19a2.38 2.38 0 0 0 2.38 2.38A2.38 2.38 0 0 0 7.76 19a2.38 2.38 0 0 0-2.38-2.38A2.38 2.38 0 0 0 3 19zm13.11 0c.26 1.15 1.29 2 2.5 2a2.38 2.38 0 0 0 2.38-2.38A2.38 2.38 0 0 0 18.6 16.2c-1.2 0-2.24.85-2.5 2z" fill="#F7DF1E" />
                    </svg>
                </div>
                <div class="tech-name">JavaScript</div>
            </div>
            <div class="tech-item">
                <div class="tech-icon">
                    <svg viewBox="0 0 24 24">
                        <path d="M22.18 10.3c0-3.32-2.7-6-6-6h-.84c1.1-1.12 1.8-2.65 1.8-4.3 0-1.7-.7-3.23-1.8-4.36h.84c3.32 0 6 2.68 6 6v2.66zm-4.3 8.3c0 3.32-2.7 6-6 6h-2.66c0 3.32-2.7 6-6 6v-2.66c-1.1-1.12-1.8-2.65-1.8-4.3 0-1.7.7-3.23 1.8-4.36v2.66c0-3.32 2.7-6 6-6h2.66c0-3.32 2.7-6 6-6V12h-.84c1.1 1.12 1.8 2.65 1.8 4.3" fill="#61DAFB" />
                    </svg>
                </div>
                <div class="tech-name">React</div>
            </div>
            <div class="tech-item">
                <div class="tech-icon">
                    <svg viewBox="0 0 24 24">
                        <path d="M12 24c6.627 0 12-5.373 12-12S18.627 0 12 0 0 5.373 0 12s5.373 12 12 12z" fill="#000" />
                        <path d="M16 16v-8l-4 4-4-4v8z" fill="#fff" />
                    </svg>
                </div>
                <div class="tech-name">Next.js</div>
            </div>
            <div class="tech-item">
                <div class="tech-icon">
                    <svg viewBox="0 0 24 24">
                        <path d="M12 0c6.627 0 12 5.373 12 12s-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0zm-1 5v4.5l-4 3.5v-3.5L11 5zm5.5 13H15l-3 3-3-3H6.5v-4h4v-3.5l4-3.5v3.5l4 3.5V18zm0-10H15l-3 3-3-3H6.5v4h4v-3.5l4-3.5v3.5l4 3.5V8z" fill="#339933" />
                    </svg>
                </div>
                <div class="tech-name">Node.js</div>
            </div>
            <div class="tech-item">
                <div class="tech-icon">
                    <svg viewBox="0 0 24 24">
                        <path d="M22 6.5l-9.5-6.5-9.5 6.5v11l9.5 6.5 9.5-6.5zm-9.5 14L4 17V7l8.5-6.5L21 7v10z" fill="#000" />
                    </svg>
                </div>
                <div class="tech-name">Express</div>
            </div>
            <div class="tech-item">
                <div class="tech-icon">
                    <svg viewBox="0 0 24 24">
                        <path d="M24 19.5v-15a1.5 1.5 0 0 0-1.5-1.5h-21a1.5 1.5 0 0 0-1.5 1.5v15a1.5 1.5 0 0 0 1.5 1.5h21a1.5 1.5 0 0 0 1.5-1.5zM22.5 6v12h-1.5v-3a1.5 1.5 0 0 0-1.5-1.5h-16a1.5 1.5 0 0 0-1.5 1.5v3h-1.5v-12h21z" fill="#FFCA28" />
                        <path d="M3 18.75h1.5a.75.75 0 0 0 .75-.75V16.5a.75.75 0 0 0-.75-.75H3a.75.75 0 0 0-.75.75v1.5a.75.75 0 0 0 .75.75zm3 0H7.5a.75.75 0 0 0 .75-.75V16.5a.75.75 0 0 0-.75-.75H6a.75.75 0 0 0-.75.75v1.5a.75.75 0 0 0 .75.75zm3.75-2.25h-1.5a.75.75 0 0 0-.75.75v1.5a.75.75 0 0 0 .75.75h1.5a.75.75 0 0 0 .75-.75v-1.5a.75.75 0 0 0-.75-.75zm3 0h-1.5a.75.75 0 0 0-.75.75v1.5a.75.75 0 0 0 .75.75h1.5a.75.75 0 0 0 .75-.75v-1.5a.75.75 0 0 0-.75-.75z" fill="#FFA000" />
                    </svg>
                </div>
                <div class="tech-name">Firebase</div>
            </div>
            <div class="tech-item">
                <div class="tech-icon">
                    <svg viewBox="0 0 24 24">
                        <path d="M12 0c6.627 0 12 5.373 12 12s-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0zm-1 11.5l-4-4v3L11 15.5l5.5-5.5v-3L11 11.5zM11 5l-4 4 4 4v-4z" fill="#336791" />
                    </svg>
                </div>
                <div class="tech-name">PostgreSQL</div>
            </div>
            <div class="tech-item">
                <div class="tech-icon">
                    <svg viewBox="0 0 24 24">
                        <path d="M22 10.5h-.7a7.7 7.7 0 0 0-14.6 0H6a6 6 0 1 0 0 12h12a6 6 0 0 0 4-12zM18 20.5H6A4.5 4.5 0 1 1 6 11.5h1a6.5 6.5 0 1 1 12 0h1a4.5 4.5 0 0 1 0 9z" fill="#47A248" />
                    </svg>
                </div>
                <div class="tech-name">MongoDB</div>
            </div>
            <div class="tech-item">
                <div class="tech-icon">
                    <svg viewBox="0 0 24 24">
                        <path d="M13.98 21.05v.9c0 .54-.44 1-.98 1H3a1 1 0 0 1-.98-1v-2.01c0-.54.44-.99.98-.99h11.1c.54 0 .98.45.98 1v1.1c0 .5-.44.9-.98.9-.5 0-.9-.4-.9-.9v-1.1s0-.1.1-.1h-11a.1.1 0 0 0-.1.1v1.8c0 .1.1.1.1.1h10.8c.1 0 .1 0 .1-.1v-.8c0-.1-.1-.1-.1-.1Zm7.02-8a1 1 0 0 1-.98 1H3a1 1 0 0 1-.98-1v-2a1 1 0 0 1 .98-1h17.1a1 1 0 0 1 .98 1v2.1Zm-11.2 5a.98.98 0 0 1 .98-1h10.2c.54 0 .98.45.98.99v2.01c0 .54-.44.99-.98.99H10.78a.98.98 0 0 1-.98-.99v-2Zm.98 0H10v1.9c0 .1.1.1.1.1h10.6a.1.1 0 0 0 .1-.1v-1.8c0-.1-.1-.1-.1-.1h-10.7Zm10.12-14.1s-.4-.1-.5-.1H3.1c-.5 0-.9.4-.9 1v1.9s0 .1.1.1h17.6a.1.1 0 0 0 .1-.1v-1.8c0-.1-.1-.1-.1-.1h-17a.1.1 0 0 0-.1.1v1s0 .1.1.1h16.7a.1.1 0 0 0 .1-.1V4.1s0-.1-.1-.1Z" fill="#2496ED" />
                    </svg>
                </div>
                <div class="tech-name">Docker</div>
            </div>
            <div class="tech-item">
                <div class="tech-icon">
                    <svg viewBox="0 0 24 24">
                        <path d="M12 0c6.627 0 12 5.373 12 12s-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0zm-1 6v6H5l7 7 7-7h-6V6z" fill="#06B6D4" />
                    </svg>
                </div>
                <div class="tech-name">Tailwind CSS</div>
            </div>
            <div class="tech-item">
                <div class="tech-icon">
                    <svg viewBox="0 0 24 24">
                        <path d="M12 0c6.627 0 12 5.373 12 12s-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0zm-1 11.5L8.5 9 7 10.5 11 14.5l6-6L15.5 7z" fill="#764ABC" />
                    </svg>
                </div>
                <div class="tech-name">Redux</div>
            </div>
        </div>
    </div>
</section>
