{% load static i18n %}

<section id="stack">
    <div class="container">
        <h2 class="section-title">{% trans "Mi Stack Tecnológico" %}</h2>
        <p class="section-subtitle">{% trans "Tecnologías con las que me encanta trabajar." %}</p>
        <div class="stack-category">
            <h3 class="category-title">{% trans "Backend" %}</h3>
            <div class="stack-grid">
                <div class="tech-item">
                    <div class="tech-icon">
                        <img src="{% static 'images/stack/python.svg' %}" alt="Python Logo" />
                    </div>
                    <div class="tech-name">Python</div>
                </div>
                <div class="tech-item">
                    <div class="tech-icon">
                        <img src="{% static 'images/stack/django.svg' %}" alt="Django Logo" />
                    </div>
                    <div class="tech-name">Django</div>
                </div>
                <div class="tech-item">
                    <div class="tech-icon">
                        <img src="{% static 'images/stack/fastapi.svg' %}" alt="FastAPI Logo" />
                    </div>
                    <div class="tech-name">FastAPI</div>
                </div>
            </div>
        </div>
        <div class="stack-category">
            <h3 class="category-title">Frontend</h3>
            <div class="stack-grid">
                <div class="tech-item">
                    <div class="tech-icon">
                        <img src="{% static 'images/stack/html-5.svg' %}" alt="HTML5 Logo" />
                    </div>
                    <div class="tech-name">HTML 5</div>
                </div>
                <div class="tech-item">
                    <div class="tech-icon">
                        <img src="{% static 'images/stack/javascript.svg' %}"
                             alt="JavaScript Logo" />
                    </div>
                    <div class="tech-name">JavaScript</div>
                </div>
                <div class="tech-item">
                    <div class="tech-icon">
                        <img src="{% static 'images/stack/bootstrap.svg' %}" alt="Bootstrap Logo" />
                    </div>
                    <div class="tech-name">Bootstrap</div>
                </div>
                <div class="tech-item">
                    <div class="tech-icon">
                        <img src="{% static 'images/stack/tailwindcss.svg' %}"
                             alt="Tailwindcss Logo" />
                    </div>
                    <div class="tech-name">Tailwind CSS</div>
                </div>
            </div>
        </div>
        <div class="stack-category">
            <h3 class="category-title">{% trans "Bases de Datos, DevOps & Cloud" %}</h3>
            <div class="stack-grid">
                <div class="tech-item">
                    <div class="tech-icon">
                        <img src="{% static 'images/stack/postgresql.svg' %}"
                             alt="PostgreSQL Logo" />
                    </div>
                    <div class="tech-name">PostgreSQL</div>
                </div>
                <div class="tech-item">
                    <div class="tech-icon">
                        <img src="{% static 'images/stack/docker.svg' %}" alt="Docker Logo" />
                    </div>
                    <div class="tech-name">Docker</div>
                </div>
                <div class="tech-item">
                    <div class="tech-icon">
                        <img src="{% static 'images/stack/microsoft-azure.svg' %}"
                             alt="Microsoft Azure Logo" />
                    </div>
                    <div class="tech-name">Microsoft Azure</div>
                </div>
            </div>
        </div>
        <div class="stack-category">
            <h3 class="category-title">{% trans "Herramientas & Flujo de Trabajo" %}</h3>
            <div class="stack-grid">
                <div class="tech-item">
                    <div class="tech-icon">
                        <img src="{% static 'images/stack/git.svg' %}" alt="Git Logo" />
                    </div>
                    <div class="tech-name">Git</div>
                </div>
                <div class="tech-item">
                    <div class="tech-icon">
                        <img src="{% static 'images/stack/github.svg' %}" alt="GitHub Logo" />
                    </div>
                    <div class="tech-name">GitHub</div>
                </div>
                <div class="tech-item">
                    <div class="tech-icon">
                        <img src="{% static 'images/stack/digital-ocean.svg' %}"
                             alt="DigitalOcean Logo" />
                    </div>
                    <div class="tech-name">DigitalOcean</div>
                </div>
                <div class="tech-item">
                    <div class="tech-icon">
                        <img src="{% static 'images/stack/notion.svg' %}" alt="Notion Logo" />
                    </div>
                    <div class="tech-name">Notion</div>
                </div>
                <div class="tech-item">
                    <div class="tech-icon">
                        <img src="{% static 'images/stack/jira.svg' %}" alt="Jira Logo" />
                    </div>
                    <div class="tech-name">Jira</div>
                </div>
            </div>
        </div>
    </div>
</section>
